* {
  font-family: "Rubik", sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav {
  border-bottom: 1px solid rgba(255, 166, 0, 0.219);
}
.logo {
  height: 45px;
  width: auto;
}
